@use '../../../styles/variables' as *;

.warning {
  margin: $space-4 0 0;
  color: $color-warning;
}

.success {
  margin: $space-4 0 0;
  color: $color-success;
}

.info {
  margin: $space-3 0 0;
  color: $color-text;
}
