@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as m;

.root {
  @include m.container($container-md);
  padding-top: $space-6;
  padding-bottom: $space-8;
}

.message {
  margin: 0 0 $space-3;
}

.link {
  font-weight: 500;
}
