@use 'variables' as *;

@mixin focus-visible-ring {
  &:focus-visible {
    outline: none;
    box-shadow: $focus-ring;
  }
}

@mixin container($max-width) {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-6;
  padding-right: $space-6;
}
